# Log files
*.log

# Finetuning results
backend/finetuning/results/
backend/finetuning/results/outputs/
backend/data/rag_content/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.next/

# Virtual Environment
venv/
env/
ENV/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# key
.env

